.tarjeta_container {
    width: 190px;
    margin: 20px;
}

.tarjeta_name {
    font-size: 13px;
    color: #fff;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.tarjeta_img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.tarjeta_github, .tarjeta_linkedin {
    margin: 2px;
    color: #fff;
    font-size: 10px;
    text-decoration: none;
} 