.chatBoxTop {
  overflow: auto;
  overflow-y: scroll;
  height: 600 px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27 px;
}
.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}


