.bottom {
  margin-top: 27 px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}

.chatBoxTop {
  height: 600 px;
  overflow: auto;
  overflow-y: scroll;
}
